@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.about_me{
    background-color: #001220;
    text-align: center;
    padding: 5%;
}

.about_me>h1{
    color: #a7233a;
    font-size: 300%;
    font-family: 'Righteous', cursive;
}

.about_me>h2{
    color: white;
    margin-bottom: 5%;
    margin-top: -40px;
    font-weight: bolder;
    font-size: 300%;
}

.about_me>p{
    color: white;
    font-size: x-large;
    letter-spacing: 1px;
    font-family: 'Arvo',sans-serif;
}